@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Nunito', sans-serif;
}
ul{
    list-style: none;
}
.shadow{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
/* swiper home */
.mySwiper .swiper-pagination span.swiper-pagination-bullet-active{
    background-color:#0eb582 !important
}

